@use '../../../../colors' as colors;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-container {
    background-color: colors.$background-color-card;
    width: 50vw;
    color:white;
    margin: 20px;
    margin-top: 50px;
    box-shadow: colors.$shadow-card;
    padding: 20px 20px 20px 20px;
    font-family: Arial;
    text-align: center;
}