<div class="container">
  <div class="aboutus-container">
    <img class="center-img" src="assets/perfume.png" />
    <h4>Elevate your scent, embrace endless luxury.</h4>
    <p>
      Welcome to our world of unmatched luxury and wonderful smells. We take
      great pleasure in introducing ourselves as suppliers of the best
      fragrances, where artistry and craftsmanship converge to produce olfactory
      works of art. Here, we think of fragrance as a representation of one's
      uniqueness, a sensory experience that stirs up feelings and leaves a
      lasting impression on the senses.
    </p>
    <p>
      Our selection embodies a tasteful fusion of timelessly elegant classics
      and cutting-edge inventions, expertly chosen to enchant the most
      discriminating scent enthusiasts. We work with famous perfumers from
      around the world who have an incredible ability for creating smells that
      transcend boundaries because we have an unrelenting commitment to quality
      and an uncompromising dedication to excellence. Each fragrance in our
      collection is created with the purest materials found in nature.
    </p>
    <p class="disclaimer">
      All perfume photos from the website are taken from
      <a href="https://xerjoff.com/">www.xerjoff.com</a>. Website logo created
      by Smashicons at <a href="https://www.flaticon.com/">www.flaticon.com</a>.
    </p>
  </div>
</div>
