@use "../../../../colors" as colors;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 4vh;
}

p {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
}

.aboutus-container {
  background-color: colors.$background-color-card;
  width: 50vw;
  color: white;
  margin: 20px;
  margin-top: 50px;
  box-shadow: colors.$shadow-card;
  padding: 20px 20px 20px 20px;
  font-family: Arial;
  text-align: center;
}

.disclaimer {
  color: rgb(222, 144, 144);
}

a {
  color: rgb(236, 213, 213); /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  text-decoration: underline;
}
